elpa/
transient/
elpy/
.mc-lists.el
.org-id-locations
.saves/
auto-save-list/
bookmarks
eshell/
org-roam.db
recentf
session.*
tramp
undo/
.emacs.desktop*
.lsp-session-v1
eln-cache/
history
non-melpa-packages/
old_configs/
straight/
config/*~
